.drgo-color-picker {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: -8px;
}

.drgo-color-picker__item {
    display: block;
    padding-left: 8px;
    padding-bottom: 8px;
    flex: 0 0 auto;
}

.drgo-color-picker__option {
    display: block;
    border: 3px solid #fff;
    width: 24px;
    height: 24px;
    position: relative;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
                0 0 0 1px rgba(0,0,0,.1),
                0 2px 4px rgba(0,0,0,.1);
}

.drgo-color-picker__checkmark {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transform-origin: center center;
    opacity: 0;

    fill: currentcolor;

    transition: transform 0.15s ease, opacity 0.15s ease;
}

.drgo-color-picker__item--checked .drgo-color-picker__checkmark {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.drgo-color-picker__custom-clear-wrapper {
    padding-left: 8px;
    padding-bottom: 8px;
    width: 100%;
    margin-top: 4px;
    text-align: right;
}